<div  class="page-header">
    <h5 style="cursor: pointer; margin-right: 10px; margin-top: 10px;" class="pull-right" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i><span>Logout</span></h5>    
   </div>
  
  <div class="container" style="padding-top:20px; padding-bottom: 20px;">
    <div class="row">
  <div class="col-lg-3"></div>
      <div class="col-lg-6" style="background-color: grey;">
        <form class="my-form" autocomplete="off">
        <mat-form-field class="full-width">
            <mat-label>File Name</mat-label>
            <input type="text"  matInput  placeholder="File Name" name="email">
         </mat-form-field>

            <input  type="file"  placeholder="Choose File" name="email">

         </form>

        </div>
</div>
</div>
