<!-- <section style="padding-top: 10px;"> -->
  <div  class="page-header">
    <h5 style="cursor: pointer; margin-right: 10px; margin-top: 10px; color: blue;" class="pull-right" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i><span>Logout</span></h5>    
   </div>
    <div class="container p-5">
      <!-- For demo purpose -->
   
      <!-- End -->
  
  
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="p-5 bg-white shadow rounded-lg"><img src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png" alt="" width="100" height="100" class="d-block mx-auto mb-4 rounded-pill">
  
            <!-- Default bootstrap file upload-->
  
            <h6 class="text-center mb-4 text-muted">
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input  matInput [(ngModel)]="upload.title" autocomplete="off"  placeholder="Enter your file title" name="email">
                 </mat-form-field>
            </h6>
  
            <div class="custom-file overflow-hidden rounded-pill mb-5">
              <input id="customFile" type="file" (change)="appendFilename($event.target.files)" class="custom-file-input rounded-pill">
              <label *ngIf="uploadFile === null" for="customFile" class="custom-file-label rounded-pill">Choose file</label>
              <label *ngIf="uploadFile !== null" for="customFile" class="custom-file-label rounded-pill">{{uploadFile.name}}</label>

            </div>
        
            <!-- End -->
       
        
  
            <!-- Custom bootstrap upload file-->
            <label (click)="uploadData()" for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow"><i class="fa fa-upload mr-2"></i>Upload your file ...
                          <!-- <input id="fileUpload" type="file"> -->
                      </label>
            <!-- End -->
  
          </div>
        </div>
      </div>
    </div>
  <!-- </section> -->
  