table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .search  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .toggle {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
  }