<div  class="page-header">
  <h5 style="cursor: pointer; margin-right: 10px; margin-top: 10px;" class="pull-right" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i><span>Logout</span></h5>    
 </div>

<div class="container" style="padding-top:20px; padding-bottom: 20px;">
  <div class="row">
<div class="col-lg-3"></div>
    <div class="col-lg-6">
    <div class="row">
      <div  class="col-lg-5">


        <mat-form-field *ngIf="!enableRank">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter search data">
          </mat-form-field>

          <mat-form-field  *ngIf="enableRank">
            <mat-label>Search</mat-label>
            <input matInput  placeholder="Enter Rank" name="rank" [(ngModel)]="searchFilter.keyword">
          </mat-form-field>
        </div>
        <div class="col-lg-7 ">
          <button mat-raised-button class="search" color="primary" *ngIf="enableRank" (click)="searchData()">Search</button>
          <mat-slide-toggle color="primary" class="toggle" name="togglebtn"  (change)="setDatasource()" [(ngModel)]="enableRank">Search with Rank</mat-slide-toggle>
        </div>
        </div>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>File Name </th>
              <td mat-cell *matCellDef="let element"> {{element.file_title}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container  *ngIf="enableRank" matColumnDef="rank">
              <th mat-header-cell *matHeaderCellDef> Rank </th>
              <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Download </th>
              <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="fileDownload(element)"> <i class="fa fa-download" aria-hidden="true"></i></td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
    </div>
</div>
